@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(https://source.unsplash.com/1600x900/?tourism,sea,mountains,nature,travel);
    background-size: cover;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
  
header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 0.5em 3.5em;
    color: white;
}

li{
    list-style-type: none;
    display: inline;
    padding-left: 30px;
    text-transform: uppercase;
}
li a{
    text-decoration: none;
    padding: 0.1em 0.5em;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid white;
    }
}
h3{
    font-size: 1.5em;
}
h1{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 5em;
    color: white;
    text-align: left;
}
.book{
    margin: 15em 6%;
    width: 14%;
    background-color: rgb(70, 104, 255);
    color: white;
    font-size: 1.5em;
    padding: 0.2em 0;
    border-radius: 0.2em;
    text-align: center;
    cursor: pointer;
    a{
        text-decoration: none;
        color: white;
    }
    &:hover{
        opacity: .8;
    }
}